.avatar {
  background-color: #8fafbf;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-position: 50%;
  background-size: cover;
}
